* {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

body {
    background: #ffffff;
    color: #000;
    font-size: 16px;
}

/* HEADER */
header {
    background-color: #ffffff;
    padding: 0;
    height: 90px;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    display: grid;
}

.fixed-top {
    top: 40px;
}

.navbar .navbar-brand {
    font-size: 34px;
    font-weight: 600;
    color: #189A46;
}

.navbar-nav .nav-item {
    padding: 0 12px;
    position: relative;
}

.navbar-nav .nav-item .nav-link {
    color: #676e69;
}

.navbar-nav .nav-item.active .nav-link {
    color: #189A46;
}

.navbar-nav .nav-item .nav-link {
    padding: 14px 0;
    font-size: 20px;
    font-weight: 400;
    position: relative;
}

.navbar-nav .nav-item.dropdown .nav-link i {
    font-size: 14px;
    padding-left: 2px;
    font-weight: 600;
}

.dropdown-toggle::after {
    content: "";
    display: none;
}

#site-header .collapse .navbar-nav li a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    bottom: 13px;
    background-color: #189A46;
    display: block;
}

#site-header .collapse .navbar-nav li a:hover:before {
    width: 100%;
    transition: all 0.5s ease;
}

#site-header .collapse .navbar-nav .nav-link:hover {
    color: #189A46;
}

#site-header .collapse .navbar-nav li .dropdown-menu a::before {
    display: none;
}

#site-header .collapse .navbar-nav li .dropdown-menu::before {
    content: "";
    width: 14px;
    height: 14px;
    background: #ffffff;
    border: 1px solid #ddd;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    z-index: 1001;
    border-right: none;
    border-bottom: none;
    top: -7px;
    left: 49%;

}

#site-header .collapse .navbar-nav li .dropdown-menu {
    transform: translateX(-20px);
}

.navbar .navbar-toggler {
    background-color: #189A46;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: none;
    width: 20px;
    line-height: 20px;
    height: 20px;
    color: #ffffff;
}

button.navbar-toggler .icon-close {
    display: block;
}

button.navbar-toggler .icon-expand {
    display: none;
}

button.navbar-toggler.collapsed .icon-close {
    display: none;
}

button.navbar-toggler.collapsed .icon-expand {
    display: block;
}

@media screen and (max-width: 767.98px) {

    header {
        height: auto;
    }

    .nav-fixed .navbar-collapse {
        background-color: #fff;
    }

    #site-header .collapse .navbar-nav li a::before {
        display: none;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item .dropdown-menu {
        text-align: center;
    }

    #site-header .collapse .navbar-nav li .dropdown-menu {
        transform: translateX(0px);
    }

    a.dropdown-item {
        width: auto;
    }

    .navbar-toggler {
        border: 0 none;
    }
}

header .theme{
    display: flex;
    align-items: center;
}

header .theme .theme-switch{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 50px;
    margin: 0;
}

header .theme .theme-switch .mode-container{
    width: 24px;
    height: 24px;
    padding: 3px 0;
    margin-left: 20px;
}

.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent;
    color: #696969;
}
.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}

.gg-sun {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 24px;
    background:
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat 5px -6px/2px 6px,
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat 5px 14px/2px 6px,
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat -8px 5px/6px 2px,
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent;
  }
  .gg-sun::after,
  .gg-sun::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px
  }
  .gg-sun::before {
    transform: rotate(-45deg)
  }
  .gg-sun::after {
    transform: rotate(45deg)
  }
  
  @media screen and (max-width: 767px) {
      .theme{
          position: absolute;
          right: 80px;
          top: 19px;
      }
      
  }

/* CAROUSEL */

.carousel-item:nth-child(1) {
    background-image: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 40px);
    background-position: center center;

}

.carousel-item:nth-child(2) {
    background-image: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 40px);
    background-position: center center;
}

.carousel-item:nth-child(3) {
    background-image: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 40px);
    background-position: center center;
}

.carousel-item:nth-child(4) {
    background-image: url(../img/banner4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 40px);
    background-position: center center;
}

@media screen and (max-width: 1079.98px) {
    .h-title {
        font-size: 35px !important;
        line-height: 40px !important;
    }

}

@media screen and (max-width: 599.98px) {
    .h-title {
        font-size: 32px !important;
        line-height: 38px !important;
    }

}

@media screen and (max-width: 377.98px) {
    .h-title {
        font-size: 27px !important;
        line-height: 32px !important;
    }

}

@media screen and (max-width:1200px) {
    .carousel .carousel-1 {
        transform: translateY(50%);
    }

}


@media screen and (max-width:1024px) {
    .carousel .carousel-1 {
        transform: translateY(60%);
    }

    .carousel .carousel-item .carousel-bg h5 {
        font-size: 52px;
        line-height: 62px;
    }

    .carousel .carousel-item .carousel-bg p {
        font-size: 16px;
    }

}



@media screen and (max-width: 991.98px) {

    .carousel .carousel-item .carousel-bg h5 {
        font-size: 50px;
        line-height: 55px;
    }

    .carousel .carousel-1 {
        transform: translateY(80%);
    }
}

@media screen and (max-width:912px) {
    .carousel .carousel-1 {
        transform: translateY(80%);
    }
    .carousel .carousel-item{
        min-height: 70vh;
    }
}

@media screen and (max-width:820px) {
    .carousel .carousel-1 {
        transform: translateY(80%);
    }
}

@media screen and (max-width: 768px) {
    .carousel .carousel-item {
        min-height: 580px;
    }

    .carousel .carousel-1 {
        transform: translateY(70%);
    }

}

@media screen and (max-width: 599.98px) {
    .carousel .carousel-item {
        min-height: 560x;
    }

    .carousel .carousel-item .carousel-bg p {
        font-size: 16px;
    }

    .carousel .carousel-1 {
        transform: translateY(65%);
    }


}

@media screen and (max-width:576.98px) {
    .carousel .carousel-1 {
        transform: translateY(70%);
    }

}

@media screen and (max-width: 520px) {

    .carousel .carousel-item {
        min-height: 480px;
    }
    .carousel .carousel-1 {
        transform: translateY(70%);
    }

}

@media screen and (max-width:457.98px) {
    .carousel .carousel-item .carousel-bg h5 {
        font-size: 32px;
        line-height: 42px;
    }

    .carousel .carousel-item {
        min-height: 440px;
    }

}

@media screen and (max-width: 420.98px) {

    .carousel .carousel-1 {
        transform: translateY(80%);
    }
}

.carousel-1 {
    bottom: 50%;
    transform: translateY(70%);
    position: relative;
}

.carousel-bg {
    max-width: 700px;
}

.carousel-item .carousel-bg h5 {
    font-size: 66px;
    font-weight: 700;
    line-height: 76px;
    color: #ffffff;
    text-align: left;
}

.carousel-item .carousel-bg p {
    font-weight: 400;
    color: #ffffff;
    line-height: 10px;
    opacity: 0.9;
    text-align: left;
    font-size: 20px;
}

.carousel-item .carousel-bg .btn-white {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #ffffff;
    filter: grayscale(0%);
    color: #189A46;
}

.carousel-item .carousel-bg .btn-style {
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px 35px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    transition: 0.3s ease;
    border-radius: 10px;

}


.carousel-item .carousel-bg .btn-style:hover {
    color: #189A46;
    background-color: #ffffff;
}

.overlay {
    background: rgba(12, 12, 12, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel .carousel-indicators {
    padding: 15px 0;
}

.carousel .carousel-indicators li.active {
    width: 30px;
    height: 10px;
    border-radius: 25px;
    border: none;
    background-color: #189A46;
}

.carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 25px;
    border: none;
    transition: 0.2s ease;
    background: #ffffff;
    opacity: 1;
}

.carousel .carousel-indicators li:hover {
    background: #189A46;
    width: 30px;
}


/* ABOUT US */

.about-us-mid {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}

.about-us-content h6 {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    color: #f53626;
}

.about-us-content h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

.about-us-content p {
    font-size: 20px;
    line-height: 28px;
    color: #696969;
}

.about-us-content a.read {
    font-size: 17px;
    border-bottom: 2px solid #189A46;
    color: #000;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease;
    font-weight: 600;
}

.about-us-content a.read:hover {
    color: #189A46;
}

/* FEATURES */
.features {
    background-color: rgba(147, 107, 232, 0.05);
}

.features .features-item {
    padding: 40px 30px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 30px;
    transition: all 0.5s ease 0s;
}

.features .features-item:hover {
    background-color: rgba(147, 107, 232, 0.05);

}

.features .features-item i {
    color: #189A46;
    font-size: 30px;
    margin-bottom: 30px;
}

.features .features-item h4 {
    margin-bottom: 30px;
}

.features .features-item h4 a {
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #000;
    text-decoration: none;

}

.features .features-item h4 a:hover {
    color: #189A46;
}

.features .features-item p {
    font-size: 20px;
    line-height: 28px;
    color: #696969;
}

.features .features-item a.read {
    font-size: 17px;
    border-bottom: 2px solid #189A46;
    color: #000;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease;
    font-weight: 600;
}

.features .features-item a.read:hover {
    color: #189A46;
}

/* CHOOSE */
.choose .choose-img img {
    border-radius: 10px;
    vertical-align: middle;
}

.choose .choose-text {
    align-self: center;
}

.choose .choose-text h6 {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #f53626;
    letter-spacing: 1px;
}

.choose .choose-text h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #000;
}

.choose .choose-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #696969;
    margin: 15px 0 35px 0;
    line-height: 24px;
}

.choose .choose-text ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.choose .choose-text ul li {
    font-size: 16px;
    line-height: 26px;
    color: #000;
    margin: 15px 0;
    font-weight: 600;
}

.choose .choose-text ul li i {
    font-size: 10px;
    margin-right: 12px;
    background: rgba(147, 107, 232, 0.05);
    padding: 8px;
    border-radius: 50%;
    color: #189A46;
}

/* NUMBER */
.number {
    background: #189A46;
}

.number .number-item {
    text-align: center;
}

.number .number-item p {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 5px;
}

.number .number-item h4 {
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    opacity: 0.8;
    margin-top: 5px;
}

@media screen and (max-width: 991.98px) {
    .number-item p {
        font-size: 40px !important;
        line-height: 50px !important;
    }

    .number-item h4 {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 736.98px) {
    .number-item {
        padding: 0 5px !important;
    }

    .number-item p {
        font-size: 35px !important;
        line-height: 38px !important;
        margin-top: 20px !important;
    }

    .number-item h4 {
        font-size: 17px !important;
    }
}